.container--admin {
	height: 100%;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	grid-column: 2 / span 1;
}

.event--container {
	display: flex;
}

/* info */
.event--info {
	font-size: 1rem;
	font-weight: 500;
	width: 100%;
	word-wrap: break-word;
	padding: 8px;
	margin-top: 2px;
	font-size: .8rem;
}

.event--button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	width: 40px;
	padding: 5px;
	margin-top: 2px;
}

.form-container input[type="text"] {
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
}

.new-date::placeholder {
	font-family: 'Lato', sans-serif;
	 font-size: .8rem;
}
/* 
.ant-calendar-picker-input .ant-input {
	width: 100%;
} */

/* badge */

.ant-badge {
	z-index: 10;
	display: absolute;
	left: -5px;
	top: 15px;
}