.nav, .nav:before, .nav:after {
  box-sizing: border-box;
}

.nav {
	grid-column: 1 / -1;
	background: white;
	text-align: center;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: 16px;
	box-shadow: 1px 1px 1px rgba(187, 187, 187, .4);
}

.nav li {
	list-style: none;
	padding: 10px 15px;
	border-bottom: 2px solid white; 
	transition: all .2s;
}

.nav li:hover {
	border-bottom: 2px solid #1585ff;
	color: #59a8ff;
	cursor: pointer;
}

.nav a {
	color: #595959;
	text-decoration: none;
}